<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- <title>99 For The Troops</title> -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/troop_styles.css">
  </head>
  <body>
    <!--NAVBAR-->
    <!--Navbars need two classes-->
    <!--Initialize the nav bar-->
    <nav class="navbar navbar-inverse">
        <!--Put everything in the navbar inside a container (for padding)-->
        <div class="container-fluid">
        <!--Fill nav bar with content-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-main" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">99 FOR THE TROOPS</a>
        </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="bs-navbar-collapse-main">
                <li><a href="/about">About</a></li>
                <li><a href="/vets">Disabled Vets</a></li>
                <li><a href="/how-donate">How It Works</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>


            <!--"ROW 3"-->
            <div class="col-sm-4 col-xs-6">
                    <div style="overflow: auto; border: 1px solid black; background-color: grey; width: 250px; height:300px">
                        <h3>These veterans could use your generous support.</h3>    
                        <h5>Select the veteran you wish to help. We will process the donation.</h5>
                        <ul><i> 
                            <li>Captain Patrizio four is Benitez</li><br/> 
                            <li>general Sampson one Carlos Benitez</li><br/> 
                            <li>tomorrow private first class</li><br/> 
                            <li>cancel Jimenez Jones Gunnery</li><br/> 
                            <li>Sergeant Jenny good Terrace</li><br/>
                            <li>El Gato De La Batalla</li><br/>
                            <li>Mia la Perra muy Linda</li><br/>
                            <li>Rambo el Fuego</li><br/>
                            <li>Miguelito Tortuga</li><br/>
                            <li>Captain Patrizio four is Benitez</li><br/> 
                            <li>general Sampson one Carlos Benitez</li><br/> 
                            <li>tomorrow private first class</li><br/> 
                            <li>cancel Jimenez Jones Gunnery</li><br/> 
                            <li>Sergeant Jenny good Terrace</li><br/>
                            <li>El Gato De La Batalla</li><br/>
                            <li>Mia la Perra muy Linda</li><br/>
                            <li>Rambo el Fuego</li><br/>
                            <li>Miguelito Tortuga</li><br/>                            
                            <li>Captain Patrizio four is Benitez</li><br/> 
                            <li>general Sampson one Carlos Benitez</li><br/> 
                            <li>tomorrow private first class</li><br/> 
                            <li>cancel Jimenez Jones Gunnery</li><br/> 
                            <li>Sergeant Jenny good Terrace</li><br/>
                            <li>El Gato De La Batalla</li><br/>
                            <li>Mia la Perra muy Linda</li><br/>
                            <li>Rambo el Fuego</li><br/>
                            <li>Miguelito Tortuga</li><br/>
                            <li>Captain Patrizio four is Benitez</li><br/> 
                            <li>general Sampson one Carlos Benitez</li><br/> 
                            <li>tomorrow private first class</li><br/> 
                            <li>cancel Jimenez Jones Gunnery</li><br/> 
                            <li>Sergeant Jenny good Terrace</li><br/>
                            <li>El Gato De La Batalla</li><br/>
                            <li>Mia la Perra muy Linda</li><br/>
                            <li>Rambo el Fuego</li><br/>
                            <li>Miguelito Tortuga</li><br/>
                            <li>Captain Patrizio four is Benitez</li><br/> 
                            <li>general Sampson one Carlos Benitez</li><br/> 
                            <li>tomorrow private first class</li><br/> 
                            <li>cancel Jimenez Jones Gunnery</li><br/> 
                            <li>Sergeant Jenny good Terrace</li><br/>
                            <li>El Gato De La Batalla</li><br/>
                            <li>Mia la Perra muy Linda</li><br/>
                            <li>Rambo el Fuego</li><br/>
                            <li>Miguelito Tortuga</li><br/>
                        </i></ul>
                    </div>
            </div>
            <div class="col-sm-6 col-xs-6">
                <div class="thumbnail">
                    <img src="https://source.unsplash.com/xOUs1VJnIP0">
                </div>        
            </div>
    <!--CITE COPYRIGHT-->
    <footer class="footer">
        <div id="wrap">
            <div id="main" class="container clear-top">
                <p style="color: rgba(182, 188, 201, 0.295)"><cite>Image sources: unsplash.com, pixabay.com</cite></p>
            </div>
        </div>
    </footer>

  </body>
</html>
